<router-outlet></router-outlet>
<div class="myContainer">
  <form>
    <div class="mb-3">
      <input [ngClass]="{'is-invalid': this.calculation_array[0] < 0}" type="number" min="0" class="form-control" id="exampleInputEmail1" name="age1" aria-describedby="emailHelp" [(ngModel)]="this.calculation_array[0]">
      <div id="emailHelp" class="form-text">Edad nro. 1</div>
      <div class="invalid-feedback">
        La edad no puede ser negativa
      </div>
    </div>
    <div class="mb-3">
      <input [ngClass]="{'is-invalid': this.calculation_array[1] < 0}" type="number" class="form-control" id="exampleInputPassword1" name="age2" [(ngModel)]="this.calculation_array[1]">
      <div id="emailHelp" class="form-text">Edad nro. 2</div>
      <div class="invalid-feedback">
        La edad no puede ser negativa
      </div>
    </div>
    <button [disabled]="(this.calculation_array[0] <= 0 || this.calculation_array[1] <= 0)" class="btn btn-primary" (click)="calculateAverage()">Calcular</button>
    <button class="btn btn-danger ms-1" (click)="cleanFields()">Limpiar</button>
  </form>
</div>

<div class="myContainer">
  <h3 style="text-align: center;">Promedio Etario</h3>
  <h1 style="text-align: center; margin-top: 2rem; font-size: 10rem;">{{this.calculation_array[2]}}</h1>
</div>